.obsidian
/docs/_site/
temp.backup
temp.import
/docs/pages.draft
/docs/pages.draft.2
/docs/posts.drafts
/page.drafts.in.document.format
/docs/root.drafts
/docs/assets.drafts
temp.draft
temp.original

document-workflow
/docs/staging
design
